node_modules/
.env
build/
.DS_Store
frontend_v1/
frontend_v2/node_modules
frontend_v2/.pnp
frontend_v2/.pnp.js
frontend_v2/coverage
frontend_v2/build
frontend_v2/.DS_Store
frontend_v2/.env.local
frontend_v2/.env.development.local
frontend_v2/.env.test.local
frontend_v2/.env.production.local
frontend_v2/npm-debug.log*
frontend_v2/yarn-debug.log*
frontend_v2/yarn-error.log*
